RewriteEngine On
RewriteBase /react-sovellusmalli/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /react-sovellusmalli/index.html [L]
